html 
{ 
    height: 100%;
}

body
{
    font-size: 12px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.bg-body
{
    background: url("../images/bg.jpg") repeat-x;
}

.bg-short-body
{
    background: url("../images/bg.jpg") repeat-x 0px -80px;
}

.content-container
{
    width: auto;
    min-width: 600px;
    height: 86%;
    min-height: 86%;
    margin: 0px 10px 0px 240px;
    padding: 10px;
    border-left: 1px solid #f1f1f1;
    overflow-x: hidden;
    overflow-y: auto;
}

.header-container
{
    position: absolute;
    z-index: 1;
    min-width: 90%;
    right: 40px;
    top: 10px;
}

.footer-container
{
    width: auto;
    min-width: 600px;
    margin: 0px 10px 0px 240px;
}
